# Database
DATABASE_URL=postgresql://physiotrack:physiotrack123@localhost:5432/physiotrack

# Redis
REDIS_URL=redis://localhost:6379

# Security
SECRET_KEY=319ef29d-1d2f-4135-9401-4c687ae6b9cd
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Environment
ENVIRONMENT=development

# CORS
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000